*{
    box-sizing: border-box;
}

.navbar{
    vertical-align: middle;
    /* position: -webkit-sticky; */
}


.navbar .pic {
    font-size: 43px;
    padding: 13px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Great Vibes', cursive;
    margin-left: 20px;
    display: inline-block;
}


.navbar .word{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: black; 
    display: inline;
    margin-left: 39px;
    padding: 40px;
    text-decoration: none;
}

.submenu img{
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
    /* padding-left: 0px; */
}

.submenu h3{
    padding-left: 50px;
    /* color: rgb(234, 224, 224); */
}


.submenu b{
    padding-left: 50px;
}




.submenu a{
    text-decoration: none;
    color: rgb(236, 230, 230);
    text-align: center;
    padding-left: 50px;
}


.submenu{
    display: none;
}


.word:hover .submenu{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 350px;
    background-color: rgb(13, 70, 160);
}


.slideshow{
    height: 650px;
    width: 95%;
    box-sizing: border-box;
    margin-left: 33px;
    background-position: center;
    background-size: cover;
    background-image: url("holi.jpg"); 
    background-repeat: no-repeat;
   animation: change 60s ease-in-out 0s infinite forwards; 
}


@keyframes change{
    0%{
        background-image: url("valley_of_flowers.jpg");
    }
    5%{
        background-image: url("tea.jpg");
    }
    10%{
        background-image: url("taj.jpg");
    }
    15%{
        background-image: url("holi1.jpg");
    }
    20%{
        background-image: url("forts.jpg");
    }
    25%{
        background-image: url("dhol.jpg");
    }
    30%{
        background-image: url("ganesh.jpg");
    }
    35%{
        background-image: url("streetfood.jpg");
    }
    40%{
        background-image: url("dance.jpg");
    }
    45%{
        background-image: url("temple.jpg");
    }
    50%{
        background-image: url("beach.jpg");
    }
    55%{
        background-image: url("field.jpg");
    }
    60%{
        background-image: url("food.jpg");
    }
    65%{
        background-image: url("varanasi.jpg");
    }
    70%{
        background-image: url("diwali.jpg");
    }
    75%{
        background-image: url("boat.jpg");
    }
    80%{
        background-image: url("shop1.jpg");
    }
    85%{
        background-image: url("durga.jpeg");
    }
    90%{
        background-image: url("Navratri.jpg");
    }
    90%{
        background-image: url("himalaya.jpg");
    }
    100%{
        background-image: url("valley_of_flowers.jpg");
    }
}

.heading{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 88px;
    padding-top: 24px;
}

.content p{
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    line-height: 34px;
    text-align: center;
    padding: 10px;
}

.slider{
    margin-left: 140px;
    width: 80%;
    height: 650px;
    overflow: hidden;
    background-size: cover;
}


.sliders{
    width: 500%;
    height: 650px;
    display: flex;
}

.sliders input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 650px;
}


.navigation-manual{
    position: absolute;
    width: 80%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    border: 2px solid rgb(255, 255, 255);
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover{
    background-color: rgb(0, 0, 0);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}



/*css for automatic navigation*/
 .navigation-auto{
    position: absolute;
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 610px; 
}

.navigation-auto div{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 10px; 
    transition: 1s;
    border: 2px solid rgb(255, 255, 255);
} 

 .navigation-auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .autobtn1{
    background-color: black;
}

#radio2:checked ~ .navigation-auto .autobtn2{
    background-color: black;
}

#radio3:checked ~ .navigation-auto .autobtn3{
    background-color: black;
}

#radio4:checked ~ .navigation-auto .autobtn4{
    background-color: black;
}

#radio5:checked ~ .navigation-auto .autobtn5{
    background-color: black;
}

/* .heading{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 88px;
} */

/* .card .image-box{
    height: 200px;
    width: 300px;
}

.card .image-box img{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.container-body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.info{
    font-family: 'Montserrat', sans-serif;
    line-height: 0px;
    padding-left: 9px;
}

.card{
    background-color: rgb(243, 238, 230);
    height: 255px;
    border-radius: 10px;
    width: 300px;
}
.container{
    max-width: 1120px;
    width: 100%;
    height: 255px;
    background-color: gray;
} */

.card{
    border: 7px solid white;
    height: 270px;
    background-color: rgb(209, 209, 202);
    width: 312px;
    border-radius: 0 0 10px 10px;
    border-radius: 20px 20px 0 0;
}

.card img{
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 0px 0;
    background-size: cover;
}

.card .info{
    font-family: 'Montserrat', sans-serif;
    line-height: 1px;
    padding-left: 9px;
    /* padding-top: 3px; */
}
.container .carusole{
    white-space: nowrap;
    /* overflow: hidden; */
    display: flex;
}
.container{
    max-width: 1156px;
    overflow-x: scroll;
}

.container-body{
    display: flex;
    align-items: center;
    max-height: 100vh;
    justify-content: center;
}

.container::-webkit-scrollbar{
    display: none;
}

/* .material-symbols-outlined{
    justify-content: center;
} */

.material-symbols-outlined:hover{
   color: rgb(177, 177, 177);
   cursor: pointer;
}

.heading-text{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 46px;
    /* width: 20%; */
}

.gallery img{
    margin-top: -4px;
    width: 97%;
    background-size: cover;
    height: 501px;
    /* position: relative; */
}

.images{
    max-height: 500px;
    overflow-y: scroll;
    /* white-space: nowrap; */
}

.images::-webkit-scrollbar{
    display: none;
}

.sub-box{
    display: inline-block;
}

.sub-box .heading-text{
    /* display: inline-block; */
    width: 87%;
    padding-left: 56px;
    text-align: center;
}

.sub-box .content{
    width: 90%;
    justify-content: center;
    padding-left: 36px;
}

.box{
    display: flex;
    margin-top: 81px;
}

.images .slide1{
    text-decoration: none;
    color: beige;
    /* position: absolute; */
}

.footer table a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: bisque;
    text-align: center;
}

.footer table th{
    text-decoration: none;
    color: beige;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.footer table td{
    text-align: left;
    justify-items: baseline;
    /* width: 40px; */
    font-family: 'Montserrat', sans-serif;
}

.footer{
    margin-top: 48px;
    background-color: rgb(4, 59, 135);
    padding-top: 37px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 37px;
    padding-right: 37px;
    color: bisque;
    padding-bottom: 45px;
    /* display: flex; */
}

table{
    /* padding-top: 37px; */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 27px;
}
.footer .title{
    font-family: 'Great Vibes', cursive;
    margin-top: 10px;
    /* padding-left: 37px; */
    font-size: 47px;

}

.footer p{
    font-family: 'Montserrat', sans-serif;  
    line-height: 28px;

}

.endlist{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    text-align: left;
}

.end{
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    
}

.about .heading100{
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
    /* color: aliceblue; */
}

.about .word100{
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
}

.about p{
    font-family: 'Montserrat', sans-serif; 
    line-height: 29px;
}

.about{
    margin-top: 50px;
}
